@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .list {
    gap: 60px;
  }

  .nav_input {
    padding: 8px 10px;
  }

  .nav {
    padding: 8px 0;
  }

  .header_bg {
    height: 700px;
    object-fit: cover;
  }

  .bg_title,
  .bg_text {
    margin-bottom: 30px;
  }

  video {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .list {
    position: fixed;
    flex-direction: column;
    top: 0;
    height: 100dvh;
    width: 50%;
    right: -100%;
    background: black;
    justify-content: space-evenly;
    transition: 0.3s;
    z-index: 11;
    overflow-y: scroll;
    &.active {
      right: 0;
    }
  }

  .nav_btn {
    display: block;
    z-index: 12;
  }

  .trailer_about {
    max-width: 500px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .trailer_content {
    position: relative;
    padding: 0;
  }

  .trailer_left {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .trailer_about {
    position: relative;
    padding: 20px 20px 50px;
    max-width: 530px;
    pointer-events: none;
  }

  .trailer_about-text {
    margin-bottom: 30px;
  }

  .bg_btn {
    pointer-events: auto;
  }

  video {
    height: 100%;
  }

  .video_bg {
    background: rgba(0, 0, 0, 0.751);
  }

  .upcoming_btns {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .nav_right {
    gap: 20px;
  }
  .list {
    width: 100%;
    background: #000000f2;
  }

  .anime_hover {
    height: 50%;
    background: linear-gradient(
      90deg,
      rgb(16 16 16 / 84%),
      rgb(0 0 0 / 87%) 100%
    );
  }

  .anime_item:hover .anime_hover {
    height: 50%;
  }

  .upcoming_cards {
    flex-direction: column;
    gap: 40px;
  }

  .upcoming_btns {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .nav_logo {
    width: 60px;
  }
  .nav_right {
    gap: 15px;
  }

  .bg_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .bg_btn {
    padding: 10px 15px;
  }

  .anime_hover {
    height: 45%;
  }

  .anime_item:hover .anime_hover {
    height: 45%;
  }

  .anime {
    padding: 60px 0;
  }

  .anime_heading:nth-of-type(3) {
    margin-top: 60px;
  }

  video,
  .video_bg {
    border-radius: 0;
  }

  .trailer,
  .upcoming {
    padding: 50px 0;
  }

.footer_content{
  gap: 35px;
}

.footer_card{
  width: 40%;
}

.footer_social{
 margin-top: 0;
}

}

@media (max-width: 450px) {
  .nav_crown {
    display: none;
  }

  .anime_hover {
    height: 40%;
  }

  .anime_item:hover .anime_hover {
    height: 40%;
  }

  .trailer_about-span {
    margin: 5px 0 15px;
  }

  .footer_card{
    width: 100%;
  }

  .footer{
    padding: 50px 0;
  }
}

@media (max-width: 400px) {
  .nav_logo {
    width: 40px;
  }

  .nav_input {
    padding: 0 10px;
    height: 30px;
  }

  .bg_btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .trailer_about-text {
    margin-bottom: 15px;
  }

  .upcoming_btns{
    flex-direction: column;
    text-align: center;
    align-items: stretch;
  }
}
